body {
    width: 30em;
    height: 18em;
    margin: 0;
}

.btn {
    background-color: #333333 !important;
}

tr, td, th {
    padding: 0.5em !important;
    border: 0;
}

.banner-apertium {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: auto;
    height: 5em;
    max-width: 35em;
    padding: 0.5em 1em 1em 1em;

    background-color: #333333;
}

.logo {
    order: 0;
}

.logo img {
    width: auto;
    height: 100%;
}

.settings {
    order: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    padding-right: 2em;
}

.settings-icon {
    padding-top: 0.5em !important;
}

.language-icon {
    padding-top: 0.6em !important;
}

.main-container {
    padding: 0.5em;
}

.language-select-container {
    display: flex;
    flex-direction: row;
}

.source-language{
    flex: 1;
    display: flex;
    min-width: -webkit-min-content;
}

.source-language button {
    font-size: smaller;
}

.target-language{
    flex: 1;
    display: flex;
    min-width: -webkit-min-content;
    justify-content: flex-end;
}

.error {
    border: 1px solid red !important;
}

.target-language button {
    font-size: smaller;
}

.btn:focus,.btn:active, textarea:focus, textarea:active {
    outline: none !important;
    box-shadow: none !important;
}

.exchange-button button {
    padding: 0;
}

.exchange-button img{
    width: 1.5em;
    height: auto;
}

.text-box {
    margin: 1em 0;
}

.output-text-box {
    background-color: white !important;
}

.button-row {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    flex-direction: row;
}

.translate-button button, .translate-webpage-button button{
    font-size: smaller;
    margin-right: 1em;
}

.enable-hover-checkbox label {
    padding-top: 0.4em;
    font-size: small;
}

.enable-hover-checkbox input {
    margin-top: 0.45em;
}

.enable-hover-checkbox {
    margin-left: 2em;
}

.enable-hover-checkbox input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.enable-hover-checkbox input:checked {
    background-color: #333333 !important;
    border-color: #333333 !important;
}

.footer {
    height: 0;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer span {
    color: #5c5c5c;
    font-size: 0.5em;
}

.default-language-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    margin-bottom: 0.5em;
}

.single-line-setting .btn {
    font-size: smaller;
}

.single-line-setting span {
    padding-left: 0.35em;
    padding-top: 0.3em;
    font-size: small;
}

.website-table-scrollbar {
    position: relative;
    margin: 0 0.3em 0 0.3em;
    height: 9.5em;
    overflow: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.website-table-scrollbar::-webkit-scrollbar {
    display: none;
}

.table-wrapper-scroll-y {
    display: block;
    font-size: small;
}

.table-fix-head , .table-fix-head th, .table-fix-head tr {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white !important;
    border-style: hidden;
}

.trash-icon {
    cursor: pointer;
}

.additional-settings-div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;

    margin-top: 0.3em;
    padding-right: 1em;
}

.additional-settings-div a {
    font-size: smaller;
    color: #333333;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.language-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-height: 9em;
    width: 10.5em;
    box-shadow: 0 0.2em 0.4em 0 rgba(0,0,0,0.2);
    z-index: 2;
    overflow-y: auto;
}

.target-language-dropdown {
    right: 0;
}

.enabled-language {
    color: black;
    padding: 0.3em 0.4em;

    cursor: pointer;
    display: block;
}

.disabled-language {
    color: gray;
    padding: 0.3em 0.4em;
    text-decoration: none;
    display: block;
    cursor: pointer;
}