/* With major help from https://stackoverflow.com/a/25836471/14131011 for tooltip styling */

[data-translation]:not([data-translation=""]) {
    display: inline-block;
    position: relative;
}

/* Tooltip styling */
[data-translation]:not([data-translation=""]):before {
    content: attr(data-translation);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 5em;
    max-width: 10em;
    text-align: center;
    border-radius: 4px;
}

/* Dynamic horizontal centering */
[data-translation]:not([data-translation=""]):before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

[data-translation]:not([data-translation=""]):before {
    bottom: 100%;
    margin-bottom: 6px;
}

/* Tooltip arrow styling/placement */
[data-translation]:not([data-translation=""]):after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

/* Dynamic horizontal centering for the tooltip */
[data-translation]:not([data-translation=""]):after{
    left: 50%;
    margin-left: -6px;
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}

/* Show the tooltip when hovering */
[data-translation]:not([data-translation=""]):hover:before,
[data-translation]:not([data-translation=""]):hover:after {
    display: block;
    z-index: 50;
}

[data-translation]:not([data-translation=""]):hover{
    animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    -webkit-animation-delay: 500ms;
}