.btn {
    background-color: #333333 !important;
}

tr, td, th {
    border: 0;
}

.no-focus:focus {
    outline: none !important;
    box-shadow: none !important;
}

.banner-apertium {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: auto;
    height: 8em;
    padding: 0.5em 1em 1em 1em;

    background-color: #333333;
}

.logo {
    order: 0;
}

.logo img {
    width: auto;
    height: 100%;
}

.main-container {
    padding: 1em;
    height: calc(100vh - 8em);
}

.single-line-setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    margin-top: 1em;
    margin-bottom: 1.5em;
}

.single-line-setting span {
    padding-left: 0.35em;
    padding-top: 0.3em;
}

.single-line-setting .btn-group {
    width: 10em;
}

#default-target-language-button {
    width: 2em;
}

#update-button {
    width: 10em;
}

.source-select {
    width: 12em !important;
}

.website-table-scrollbar {
    position: relative;
    overflow: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.website-table-scrollbar::-webkit-scrollbar {
    display: none;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-fix-head , .table-fix-head th, .table-fix-head tr {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white !important;
    border-style: hidden;
}

.trash-icon {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.language-dropdown {
    float: right;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-height: 30em;
    width: 10em;
    box-shadow: 0 0.2em 0.4em 0 rgba(0,0,0,0.2);
    z-index: 2;
    overflow-y: auto;
}

.enabled-language {
    font-size: smaller;
    color: black;
    padding: 0.3em 0.4em;

    cursor: pointer;
    display: block;
}

.disabled-language {
    font-size: smaller;
    color: gray;
    padding: 0.3em 0.4em;
    text-decoration: none;
    display: block;
    cursor: pointer;
}