.btn {
    background-color: #333333 !important;
}

tr, td, th {
    border: 0;
}

.no-focus:focus {
    outline: none !important;
    box-shadow: none !important;
}

.banner-apertium {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: auto;
    height: 8rem;
    padding: 0.5rem 1rem 1rem 1rem;

    background-color: #333333;
}

.logo {
    order: 0;
}

.logo img {
    width: auto;
    height: 100%;
}

.main-container {
    padding: 1rem;
    height: calc(100vh - 8rem);
}

.single-line-setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.single-line-setting span {
    padding-left: 0.35rem;
    padding-top: 0.3rem;
}

.single-line-setting .btn-group {
    width: 10rem;
}

#default-target-language-button {
    width: 2rem;
}

#update-button {
    width: 10rem;
}

#apy-input-wrapper {
    width: 100%;
    overflow: auto;
}

#add-custom-apy-div {
    width: 20rem;
    float: right;
}

.error-text {
    float: right;
    font-size: xx-small;
    color: red;
}

.source-select {
    width: 12rem !important;
}

.website-table {
    margin-top: 1.5rem;
}

.website-table-scrollbar {
    position: relative;
    overflow: auto;

    margin-bottom: 2rem;

    -ms-overflow-style: none;
}

.website-table-scrollbar::-webkit-scrollbar {
    display: none;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-fix-head , .table-fix-head th, .table-fix-head tr {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white !important;
    border-style: hidden;
}

.trash-icon {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.language-dropdown {
    float: right;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-height: 30rem;
    width: 10rem;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
    z-index: 50;
    overflow-y: auto;
}

.enabled-language {
    font-size: smaller;
    color: black;
    padding: 0.3rem 0.4rem;

    cursor: pointer;
    display: block;
}

.disabled-language {
    font-size: smaller;
    color: gray;
    padding: 0.3rem 0.4rem;
    text-decoration: none;
    display: block;
    cursor: pointer;
}