body {
    width: 30em;
    height: 18em;
    margin: 0;
}

tr, td, th {
    padding: 0.5em !important;
    border: 0;
}

.banner-apertium {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: auto;
    height: 5em;
    max-width: 35em;
    padding: 0.5em 1em 1em 1em;

    background-color: #333333;
}

.logo {
    order: 0;
}

.logo img {
    width: auto;
    height: 100%;
}

.settings {
    order: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    padding-right: 2em;
}

.settings-icon {
    padding-top: 0.5em !important;
    color: #fff;

    font-size: x-large !important;
}

.language-icon {
    padding-top: 0.6em !important;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.main-container {
    padding: 0.5em;
}

.language-select-container {
    display: flex;
    flex-direction: row;
}

.source-language{
    flex: 1;
    display: flex;
    min-width: -webkit-min-content;
}

.source-language button {
    font-size: smaller;
}

.target-language{
    flex: 1;
    display: flex;
    min-width: -webkit-min-content;
    justify-content: flex-end;
}

.target-language button {
    font-size: smaller;
}

.btn:focus,.btn:active, textarea:focus, textarea:active {
    outline: none !important;
    box-shadow: none !important;
}

.exchange-button button {
    padding: 0;
}

.exchange-button img{
    width: 1.5em;
    height: auto;
}

.text-box {
    margin: 1em 0;
}

.output-text-box textarea {
    background-color: white !important;
}

.button-row {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    flex-direction: row;
}

.translate-button button, .translate-webpage-button button{
    font-size: smaller;
    margin-right: 1em;
}

.enable-hover-checkbox label {
    font-size: small;
}

.enable-hover-checkbox input {
    margin-top: 0.45em;
}

.enable-hover-checkbox {
    margin-left: 2em;
}

.footer {
    height: 0;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer span {
    color: #5c5c5c;
    font-size: 0.5em;
}

.default-language-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    margin-bottom: 1em;
}

.default-language-select .btn {
    font-size: smaller;
}

.default-language-select span {
    padding-left: 0.35em;
    padding-top: 0.3em;
    font-size: small;
}

.website-table-scrollbar {
    position: relative;
    height: 10.5em;
    overflow: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.website-table-scrollbar::-webkit-scrollbar {
    display: none;
}

.table-wrapper-scroll-y {
    display: block;
    font-size: small;
}

.table-fix-head , .table-fix-head th, .table-fix-head tr {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-style: hidden;
}