body {
    width: 30em;
    height: 20em;
    margin: 0;
}

.banner-apertium {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: auto;
    height: 5em;
    max-width: 35em;
    padding: 0.5em 1em 1em 1em;

    background-color: #333333;
}

.logo {
    order: 0;
}

.logo img {
    width: auto;
    height: 100%;
}

.settings {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding-bottom: .5em;
    padding-right: 2em;
}

.container{
    padding: 0.5em;
}

.language-select-container{
    display: flex;
    flex-direction: row;
}

.source-language{
    flex: 1;
    display: flex;
    min-width: -webkit-min-content;
}

.target-language{
    flex: 1;
    display: flex;
    min-width: -webkit-min-content;
    justify-content: flex-end;
}

.btn:focus,.btn:active, textarea:focus, textarea:active {
    outline: none !important;
    box-shadow: none !important;
}

.exchange-button img{
    width: 1.5em;
    height: auto;
}

.text-box{
    margin: 1em 0;
}

.output-text-box textarea{
    background-color: white !important;
}